$length: 170px;
///////////////////////////////////////////////////////////////////////////////////(Color ID:s)
#blank
{
    background-color: cornsilk; //Defult collor for iris
}
////////////////////////////////////////////////////////////////////////////////////////(eye)
#countdown //Style for countdown
{
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}

.eye //Eye position
{
    margin: auto;
    margin-top: 30vh;
}
.Shape1 //Shape of the first eye(Open)
{
    width: 70%;
    max-width: 1000px;
    height: $length;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    display:flex;
    justify-content: center;
}
.Iris1 //iris collor
{
    width: $length;
    height: $length;
    margin-top: -10px;
    background-color: aquamarine;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    display: flex;
    justify-content: center;
}
.Pupil1 //First type of pupil (O)
{
    $NewLength: $length / 3.4;
    width: $NewLength;
    height: $NewLength;
    margin:auto;
    background-color: black;
    border-radius: 50%;
}
.Shape2 //Second eye shape, partialy closed
{
    width: 70%;
    max-width: 1000px;
    height: 100.3333333333px;
    border-radius: 50%/100%;
    border-Top-left-radius: 0;
    border-Top-right-radius: 0;
    border-style: solid;
    border-width: 10px;
    display: flex;
    justify-content: center;
}
.Iris2 //Iris changed to better suit the partialy closed eye
{
    width: 170px;
    height: 100px;
    margin-top: -10px;
    background-color: aquamarine;
    border-radius: 50%/100%;
    border-style: solid;
    border-width: 10px;
    display: flex;
    justify-content: center;
}
.Pupil2 //Second pupuil type (X)
{
    $NewLength: $length / 3.4;
    width: $NewLength;
    height: $NewLength;
    margin:auto;
    position: relative;
  }
  //Pure css X
  .Pupil2:before, .Pupil2:after {
    position: absolute;
    left: 21.5px;
    content: ' ';
    height: 50px;
    width: 10px;
    background-color: #000000;
    margin:auto;
  }
  .Pupil2:before {
    transform: rotate(45deg);
  }
  .Pupil2:after {
    transform: rotate(-45deg);
  }
.Shape3 //Fully closed eye
{
    width: 70%;
    max-width: 1000px;
    height: 100.3333333333px;
    border-radius: 50%/100%;
    border-Top-left-radius: 0;
    border-Top-right-radius: 0;
    border-style: solid;
    border-top-style: none;
    border-width: 10px;
    display: flex;
    justify-content: center;
}
////////////////////////////////////////////////////////////////////////////////////////////(Game)
.ball //Buttons
{
    $size: 100px;
    width: $size;
    height: $size;
    border-radius: 50%;
    position:relative;
    top: -200px;
    float: left;
    .ball-inner //Innber button circle
    {
        position: absolute;
        margin:auto;
        $nsize: $size / 2;
        width: $nsize;
        height: $nsize;
        margin: $nsize / 4;
        margin-top: $nsize / 4;
        border-radius: 50%;
        background-color: white;
    }
}