div
{
    display:flex;
    justify-content: center;
}
h1, h3 //Most likely not needed
{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin:0;
}
h1
{
    font-size: 100px;
}
h3
{
    font-size: $size2 * 0.5;
}